*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-image:  radial-gradient(#D5F3FF, #51b4e8);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.infoweather{
    height: 100vh;
}
.weather-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.weatherinfo{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.weather-card {
    background-color: #d5f3ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 80%;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    z-index: -1;
}
.titlesection{
    height: 10%;
}
h3 {
    font-size: 22px;
}

.weather-card .ubi-dates {
    display: flex;
    height: 10%;
    gap: 10px;
}

.weather-card .ubi-dates span {
    font-weight: 900;
}

.actual-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    width: 100%;
}

h1 {
    color: #0e2963;
    font-size: 40px;
}

.actual-weather .weatherState {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.actual-weather .weatherState img {
    width: 100px;
    
}
.state{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    width: 100%;
}
.weather-statistics {
    display: flex;
    flex-direction: column;
    height: 25%;
    gap: 10px;
}
.otherStatisticsTitleSection{
    display: flex;
    justify-content: center;
}
.statisticsSection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.weatherStat {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}
.weatherStat h4{
max-width: 95px;
}

/*Loader*/

.icon{
    display: inline-block;
    font-size: 45px;
    animation: float 5s ease-in-out infinite;
    color: #d5f3ff;
}
.bxs-cloud{
animation-delay: 1s;
}
.bxs-moon{
    animation-delay: 2s;
}
.bxs-cloud-rain{
    animation-delay: 3s;
}
.bxs-cloud-lightning{
    animation-delay: 4s;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}
/*Loader logo*/
.loader {
    background: rgba(15, 133, 211, 0.75);
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allbuttonssection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 20%;
}
/*boton temperatura*/
.changetempsection{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.tempchange {
    position: fixed;
    cursor: pointer;
    top: 4vh;
    right: 4vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #026eed;
    color: #d5f3ff;
    box-shadow: 2px 2px 8px #0e2963;
}
.citylocationsection{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.citylocation{
    display: flex;
    width: 90%;
    height: 35px;
}
.inputlocation{
    font-size: 10px;
    background-color: #51b3e800;
    border-style: none;
    border-top:solid 3px #0e2963;
    border-left: solid 3px #0e2963;
    border-bottom: solid 3px #0e2963;
    width: 90%;
    height: 100%;
    padding-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.buttoninput{
    display: flex;
    align-items: center;
    background-color: #ffffff00;
    justify-content: center;
    cursor: pointer;
    border-style: none;
    border-top: solid 3px #0e2963;
    border-right: solid 3px #0e2963;
    border-bottom: solid 3px #0e2963;
    height: 100%;
    width: 10%;
    color: rgb(34, 36, 151);
    padding: 1.5vh;
    border-bottom-right-radius:10px ;
    
}
.lupa{
font-size: 18px;
}
.extendedweek{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.diaryweatherbutton{
    display: flex;
    padding:10px ;
    border-style: none;
    border-radius: 10px;
    background-color: mediumaquamarine;
    color: antiquewhite ;
    font-size: 18px;
    box-shadow: 1px 5px 10px #0e29633a;
    cursor: pointer;
}
.modalinfo{
    background-color: #11699c;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.close{
    display: flex;
    justify-content: flex-end;
}
.closebutton{
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    width: 30px;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    
}
.buttonssection h2{
    margin-left: 10px;
    color: antiquewhite;
    
}
.day-buttons{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding: 5px;
}
.daybutton{
    border-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 10px;
    padding: 4px;
    box-shadow: 1px 1px 5px 0e2963;
    cursor: pointer;
}
.hourly-weather{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    
    padding-bottom: 10px;
}
.weatherhours{
    width: 90%;
    padding: 10px;
    margin: 10px 5px;
    background-color: #1d91ad4b;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: #35e4db83;
    box-shadow: 0 0 10px #ffffff33;
}
.datahours{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    color: #e4eeed;
}
.datahours img{
    height: 100px;
    display: flex;
}
.otherbackground{
    margin-top: 10px;
    background-color: rgba(7, 7, 71, 0.644);
}
.otherbackground h3{
    font-size: 22px;
}
.principaldateshours{
    display: flex;
    flex-direction: column;
}
.principaldateshours .tempandicon{
    display: flex;
}
.principaldateshours .tempandicon p{
display: flex;
font-size: 28px;
align-items: center;
}
.DailystatisticsSection{
    display: flex;
    flex-wrap: wrap;
}
.DailyweatherStat{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.DailyweatherStat h4{
    max-width: 77px;
}
.active {
    border-style: none;
}
/*Medias*/
@media only screen and (min-width: 375px) {
    .inputlocation{
        font-size: 12px;
        }
        .weatherhours{
            width: 60%;
        }
}
@media only screen and (min-width: 425px) {
    .citylocation{
        width: 75%;
    }
    .weather-card {
        width: 75%;
        }
    .tempchange {
    font-size: 15px;
    }
}
@media only screen and (min-width: 500px) {
    .citylocation{
        width: 60%;
    }
    .weather-card {
        width: 60%;
    }
    .day-buttons{
        flex-direction: initial;
        flex-wrap: wrap;
    }
    .weatherhours{
        width: 50%;
    }
}
@media only screen and (min-width: 768px) {
    .inputlocation{
        font-size: 16px;
    }
    
    h3 {
        font-size: 24px;
    }
    .weather-card .ubi-dates span {
        font-size: 28px;
    }
    h1 {
        font-size: 75px;
    }
    .actual-weather .weatherState img {
        width: 200px;
    }
    .state{
        flex-direction: initial;
    }
    .statisticsSection{
        flex-direction: initial;
    }
    .weatherStat{
        width: 50%;
    }
    .daybutton{
        width: 30%;
    }
    .weatherhours{
        width: 40%;
    }
    .tempchange {
        font-size: 20px;
    }
    }
@media only screen and (min-width: 1024px) {
    .citylocation{
        width: 50%;
    }
    .inputlocation{
        font-size: 18px;
    }
    .weather-card {
        width: 50%;
    }
    h1{
        font-size: 100px;
    }
    h3 {
        font-size: 28px;
    }
    .weather-card .ubi-dates span {
        font-size: 32px;
    }
    .daybutton{
        width: 15%;
    }
    .weatherhours{
        width: 20%;
    }
    
    .tempchange {
        font-size: 22px;
    }
    
}
@media only screen and (min-width: 1290px) {
    .citylocation{
        width: 40%;
    }
    .weather-card {
    width: 40%;
    }
    
}
@media only screen and (min-width: 1370px) {
    
    .actual-weather .weatherState img {
    width: 220px;
    }
}
@media only screen and (min-width: 1440px) {
.daybutton{
    width: 10%;
}
}